         * {
             margin: 0;
             padding: 0;
             scroll-behavior: smooth;
             font-family: 'Noto Sans', sans-serif;

         }

         html {
             background-color: #222;

         }

         ::-webkit-scrollbar {

             display: none;

         }



         .navigation {
             width: 100%;
             text-align: center;
             height: 118px;
             position: fixed;
             z-index: 100;
             top: 0;
             overflow-y: hidden;
         }

         #mysidepanel {
             float: right;
             margin-right: 100px;
         }

         .menupanel a {
             padding: 44px;
             text-decoration: none;
             font-size: 16px;
             color: #BFBFBF;
             line-height: 30px;
             display: inline-block
         }


         .menupanel a:after {
             display: block;
             content: '';
             border-bottom: solid 3px white;
             transform: scaleX(0);
             transition: transform 250ms ease-in-out;

         }

         .menupanel a:hover:after {
             transform: scaleX(1);
         }

         .active p {
             border-bottom: solid 3px white;
             margin-bottom: -3px;
             color: white;
         }



         .logo {
             text-align: left;
             position: absolute;
             margin: 30px 0px 0px 100px;
         }


         .logo img {
             height: 53px;
         }


         .logo:hover {
             opacity: .7;
             transition: .3s
         }


         .contact {
             width: 100%;
             display: inline-block;
         }

         .contact_header {
             width: 100%;
             height: 500px;
             overflow-y: hidden;
             display: block;
             background-image: url(edited_img/contact_header2.png);
             background-size: cover;

         }

         .contact_header img {
             width: 100%;
         }

         .contanct_header_text {
             top: 20%;
             left: 25%;
             position: absolute;
             color: white;
             overflow-y: hidden;

         }

         .contanct_header_text p {
             font-size: 20px;
         }











         .input_box {
             width: 100%;
             text-align: center;
         }

         .input_box h1,
         .input_box p {
             color: white;
         }

         .send_message {
             width: 70%;
             display: inline-block;
             text-align: left;
             line-height: 40px;
             margin-top: 50px;
         }

         .input_top {
             width: 100%;
             text-align: left;
             display: flex;
             padding: 10px 0px 10px 0px;
         }

         .input_top input {
             width: 100%;
             margin-right: 0.4rem;
         }

         .input_top input:last-child {
             margin-right: 0;
         }

         .input_middle input {
             width: 100%;
             padding: 10px 0px 10px 0px;
         }

         .input_middle {
             margin-top: 20px;
         }

         .input_bottom {
             width: 100%;
             height: 500px;
             margin-top: 20px;
         }

         input {
             border: none;
             background: #222;
             padding: 10px 0px 10px 0px;
             border-bottom: 1px solid #CCCCCC;
             color: white;
         }

         textarea {

             width: 100%;
             height: 459px;
             background: #222;
             border: none;
             border-bottom: 1px solid #CCCCCC;
             color: white;
         }

         .submit_button {
             text-align: center;
         }

         .button {
             text-align: center;
         }

         button {
             outline: 0;
             border: 0;
             width: 120px;
             height: 35px;
             background: linear-gradient(to bottom, #4D4D4D, #333);
             color: white;
             margin: 10px;


         }

         button:hover {
             cursor: pointer;
             background: linear-gradient(to bottom, #3A3A3A, #232323);
             color: lightgray;
         }

         .footer {
             width: 85%;
             height: 240px;
             background: #141414;
             display: inline-flex;
             margin-top: 30px;
         }

         .footer_text {
             width: 25%;
             color: #ccc;
             text-align: center;
             overflow-x: hidden;
             padding: 90px 20px 0px 20px;
         }

         #footer_top a {
             color: white;
             text-decoration: none;
         }

         #footer_top a:hover {
             opacity: 0.8
         }
